// BASE
//
/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html{
  overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*,
*:before,
*:after{
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section{
  display: block;
}

ol,
ul{
  list-style: none;
}

table{
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td{
  font-weight: normal;
  text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after{
  content: "";
}

blockquote,
q{
  quotes: "" "";
}

a:focus{
  outline: none;
}

a:hover,
a:active{
  outline: 0;
  text-decoration: none;
}

a img{
  border: 0;
}

/*--------------------------------------------
Initial Setup
----------------------------------------------*/
a{
  text-decoration: none;
  .transition--ex;
  color: inherit;
}

input, textarea{
  &:focus{
    outline: none;
  }
}

img,
video{
  max-width: 100%;
  vertical-align: top;
}

audio, canvas, video{
  display: inline;
  zoom: 1;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

/*--------------------------------------------
General
----------------------------------------------*/
//placeholder
::-webkit-input-placeholder{
  -webkit-font-smoothing: antialiased;
}

:-moz-placeholder{
  /* Firefox 18- */
  -moz-osx-font-smoothing: grayscale;
}

::-moz-placeholder{
  /* Firefox 19+ */
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited{
  cursor: hand;
  cursor: pointer;
}

//custom scrollbar
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: rgb(33, 33, 33);
}

::-webkit-scrollbar-thumb:window-inactive{
  background: rgb(33, 33, 33, .3);
}

/*--------------------------------------------
Combo CSS
----------------------------------------------*/
.clr{
  .clearfix;
}

.icf{
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.tran{
  .transition();
}

/*--------------------------------------------
Popup Effects
----------------------------------------------*/
/* overlay at start */
.mfp-fade.mfp-bg{
  opacity: 0;
  .transition--ex;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready{
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing{
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content{
  opacity: 0;
  .transition--ex;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content{
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content{
  opacity: 0;
}