a:hover{
    color: @do;
}
#primary.pull-right{
    @media screen and (max-width: 767px){
        float: none !important;
    }
}

.ht-btn,
input[type=submit]{
    border: none;
    padding: 0 15px;
    line-height: 34px;
    background: #ccc;
    text-transform: capitalize;
    display: inline-block;
}

.ht-flexslider{
    position: relative;
    .flex-control-nav{
        list-style: none;
    }
    &#site-slider{
        .flex-control-nav{
            text-align: right;
            bottom: 10px;
            right: 10px;
            a{
                font-size: 0;
                background-color: #000;
                opacity: 0.8;
            }
            a.flex-active{
                background-color: @do;
            }
        }
    }
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}