/* FOOTER */
.ht-prefooter{
    padding-top: 20px;
    background-color: #eee;
    margin-top: 30px;
    h3{
        font-size: 140%;
    }
}
.ht-widget-item {
  width: 25%;
  padding: 10px;
  float: left;
  p{
    margin-bottom: 10px;
  }
}
.ht-widget-item::first-child,
.ht-widget-item::last-child {
  padding: none;
}
@media (max-width: 767px) {
  .ht-widget-item {
    width: 100%;
  }
}
.ht-widget-item h3 {
  border-bottom: 1px dashed #AEAEAE;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.ht-widget-item .ht-btn {
  background-color: #C4C4C4;
  color: #6b6b6b;
}
.ht-widget-item form {
  position: relative;
  margin-bottom: 10px;
  input{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
}
.ht-meta-contact i {
  display: inline-block;
  float: left;
  line-height: 25px;
  margin-right: 10px;
}
.ht-meta-contact p {
  display: inline-block;
  float: left;
}
.ht-meta-contact .widget-content {
  display: block;
  width: 100%;
  overflow: hidden;
}
.ht-product-tag a {
  border: 1px solid #C4C4C4;
  border-top: 1.4px solid #C4C4C4;
  padding: 5px;
  margin-right: 2px;
  margin-bottom: 5px;
  display: inline-block;
}
.ht-product-tag a:hover {
  background-color: @do;
  color: yellow;
}
.ht-subscribe a.fa {
  margin: 0 10px;
}
.ht-quick-links{
    a{
        display: block;
        margin-bottom: 5px;
        padding-left: 5px;
        border-bottom: 1px solid #ddd;
    }
}
.site-social{
    h4{
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px dotted #ddd;
    }
    a{
        margin: 0 20px 0 0 !important;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        line-height: 32px;
        width: 32px;
        height: 32px;
        color: #fff;
        background-color: @do;
    }
}
#site-footer{
    .copyright{
        line-height: 50px;
        background-color: @do;
        color: #fff;
        vertical-align: middle;
    }
}
/* /FOOTER */