#site-header{
    .top-area{
        background-color: @do;
        padding: 5px 0;
        color: #fff;
        a:hover{
            color: yellow;
        }
    }
}
#site-logo{
    text-align: center;
    @media @sm{
        text-align: left;
    }
}
.top-group{
    padding: 8px 0;
    input{
        width: 100%;
        padding: 5px;
        border: 1px solid #bbb;
    }

    .row > div{
        margin-top: 5px;
        @media @sm{
            margin-top: 0;
            border-right: 1px solid #bbb;
            &:last-child{
                border-right: none;
            }
        }
    }
    .cart-indicator{
        font-size: 120%;
        line-height: 45px;
        vertical-align: middle;
        text-align: center;
        @media @sm{
            text-align: right;
        }
        a{
            margin-right: auto;
            @media @sm{
                margin: 5px auto 0;
            }
            position: relative;
            display: block;
            height: 45px;
            width: 100%;
            @media @sm{
                max-width: 162px;
            }
            border: 1px solid @do;
            color: #fff !important;
            font-weight: 700;
            background-color: @do;
        }
        i{
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 45px;
            height: 100%;
            vertical-align: middle;
            font-size: 28px;
            padding-top: 8px;
            color: rgb(255, 255, 255);
            background-color: @do;
            padding-right: 10px;
            border-right: 1px dotted #fff;
        }
    }
}
#site-breadcrumb{
    padding: 5px 0;
    a{
        color: @do;
    }
    background-color: #eee;
}
.user-links{
    @media @sm{
        text-align: right;
    }
    a{
        border-left: 1px solid #aaa;
        padding-left: 5px;
    }
}
#site-navigation{
    @media @md{
        background-color: @do;
    }
    #cssmenu{
        background-color: #111;
        @media @md{
            background-color: transparent;
        }
    }
    ul.menu.primary{
        & > li:hover,
        .current_page_parent,
        .current-menu-parent{
            & > a{
                color: yellow;
            }
        }
    }
    .sub-menu{
      background-color: @do;
      opacity: 0.98;
    }
}