/* WIDGET */
#secondary{
    aside{
        margin: 10px 0 20px;
        @media @sm{
            margin: 10px 0 30px;
        }
    }
    //product cate
    .widget_product_categories,
    .widget_layered_nav{
        ul{
            margin-top: -8px;
        }
        li{
            padding: 10px;
            background-color: #eee;
            border-bottom: 1px solid #ddd;
            span.count{
                float: right;
            }
            .transition;
        }
        li:hover,
        li.current-cat{
            background-color: #ddd;
            color: @do;
        }
    }
    button, input[type=submit]{
        border: 2px solid transparent;
        // .rounded(5px);
        padding: 3px 10px;
        background-color: @do;
        text-transform: uppercase;
        min-width: 100%;
        color: #fff;
        .transition;
        &:hover{
            color: @do;
            background-color: transparent;
            border-color: @do;
        }
    }
    .price_label{
        padding: 10px;
        background-color: #eee;
        border-bottom: 1px solid #ddd;
    }
}
.widget-title{
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 2px dotted @do;
}
/* /WIDGET */