/**============================================================
* Theme Name: GT v.2.0
* Version: 1.1.0
* Description: Gói giao diện GT
* Author: Trangdv
* Author URI:
* Theme URI:
* License: GNU General Public License version 3.0
* License URI: http://www.gnu.org/licenses/gpl-3.0.html
* Tags: light, fluid-layout, custom-background, threaded-comments, custom-menu, featured-images, full-width-template, theme-options, translation-ready
*============================================================*/

@import (reference) "_variables";
@import (reference) "_mixins";
@import (reference) "_grid";

@import "base";
@import "typography";
#primary{
    margin-top: 10px;
}
article{
  ul, ol{
    list-style: inside;
    margin-bottom: 20px;
  }
  ol{
    list-style-type: decimal;
  }
  blockquote{
    position: relative;
    z-index: 1;
    padding: 0 40px;
    border-left: 3px solid #eee;
  }
  p{
    margin-top: 15px;
  }
}
@import "common";
@import "header";
@import "top_banner";
@import "sidebar";
@import "woo";
@import "footer";

section.ht-section.products-list{
    .list-title{
        font-size: 111%;
        color: @do;
    }
    a.list-link{
        background-color: @do;
        padding: 3px 6px;
        color: #fff;
    }
    ul.ht-products-list{
        border-bottom: none;
    }
}

/* Other */
#YLC_chat_header,
#YLC_chat_btn{
  background-color: @do !important;
}