ul.product_cates{
    position: relative;
    img{
        position: absolute;
        top: 0;
        right: -200%;
    }
    li{
        width: 100%;
        line-height: 40px;
        vertical-align: middle;
        padding: 0 10px;
        z-index: 1;
        @media @md{
            font-size: 110%;
        }
        .transition;
        color: #fff;
        border-bottom: 1px solid #444;
        a:hover{
            color: yellow;
        }

    }
    li:hover{
        background-color: @do;
        img{
            z-index: 1;
        }
        .fa-hand-o-right{
            right: -5px;
            opacity: 1;
        }
    }
    .fa-hand-o-right{
        float: right;
        top: 13px;
        right: 5px;
        position: relative;
        .transition;
        opacity: 0;
    }
}

#home-banner-group .col-left{
    background-color: #333;
}

.red-divider{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 1px 0;
}