// TYPOGRAPHY
//
body,
button,
input,
select,
textarea{
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

dfn,
cite,
em,
i{
  font-style: italic;
}

blockquote{
  margin: 0 1.5em;
}

address{
  margin: 0 0 1.5em;
}

pre{
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var{
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym{
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins{
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub{
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup{
  bottom: 1ex;
}

sub{
  top: .5ex;
}

small{
  font-size: 75%;
}

big{
  font-size: 125%;
}

strong{
  font-weight: 700;
}
h1, h2, h3{
  font-weight: 700;
}
h1{
  font-size: 160%;
}
h2{
  font-size: 140%;
}
h3{
  font-size: 120%;
}