/* WOO */
/* Breadcrumb */
.woocommerce-breadcrumb{
    padding: 3px;
    background-color: #eee;
}
/* /Breadcrumb */
.before_loop_group{
    background-color: #eee;
    vertical-align: middle;
    line-height: 35px;
    @media @sm-max{
        select{
            width: 100%;
        }
    }
    margin-bottom: 10px;
    select{
        padding: 5px;
        border: none;
        background-color: #ddd;
    }
}
/* List of products */
.ht-products-list{
    .clr;
    padding: 20px 0;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}
li.product-loop-entry{
    display: block;
    border: 2px solid @do;
    padding: 10px;
    position: relative;
    .transition;
    &:hover{
        border-color: @do !important;
        .add_to_cart_button{
            opacity: 1;
        }
    }
    width: 50%;
    max-width: 283px;
    margin: 0 0 10px;
    &.last{
        border-left: none;
    }
    @media @xs{
        margin: 0 auto;
        max-width: auto;
        margin: 0px 0 10px;
        width: 50%;
        &.first{
            // border-right: none;
        }
        &.last{
            border-left: none;
        }
    }
    @media @sm{
    }
    @media @md{
        &.first{
            border-right: 2px solid transparent;
        }
        &.last{
            border-left: 2px solid transparent;
        }
        border-color: transparent;
        width: 25%;
    }
    small.on-sale{
        background-color: @do;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px 6px;
    }
    .product-loop-title{
        font-weight: 700;
        font-size: 110%;
        margin-bottom: 8px;
    }
    .add_to_cart_button{
        z-index: 1;
        .transition;
        opacity: 1;
        border: 2px solid @do;
        .rounded(5px);
        padding: 3px 10px;
        color: @do;
        background-color: transparent;
        display: block;
        @media @sm{
            position: absolute;
            right: 10px;
            bottom: 5px;
        }
        @media @md{
            background-color: @do;
            color: #fff;
            opacity: 0;
        }
        &:hover{
            background-color: transparent;
            color: @do;
        }
        i{
            display: none;
            .transition;
        }
        &.loading{
            i.loading{
                display: inline;
            }
        }
        &.added{
            text-decoration: none;
            opacity: 1;
            font-size: 0;
            padding: 2px 6px;
            i.added{
                display: inline;
                font-size: 16px;
            }
            i.loading{
                display: none;
            }
        }
    }
    .price{
        color: @do;
    }
    .ht-countdown-hook{
        margin-top: 8px;
        @media @sm{
            margin-top: 0;
            position: absolute;
            right: 37px;
            top: 0;
        }
        background-color: @do;
        color: #fff;
        line-height: 20px;
        font-size: 80%;
        padding: 0 5px;
        border-right: 1px solid #fff;
    }
}
p img,
img.attachment-shop_catalog,
img.attachment-shop_single{
    max-width: 100%;
    height: auto;
}
/* /list of products */
/* Pagination */
.woocommerce-pagination{
    margin-top: 30px;
    overflow: hidden;
    text-align: right;
    ul.page-numbers{
        text-align: right;
        display: block;
        width: 100%;
    }
    li{
        display: inline-block;
        width: auto;
        overflow: hidden;
    }
    ul .page-numbers{
        display: inline-block;
        border: 1px solid #ddd;
        padding: 5px 13px;
        font-size: 110%;
        margin-left: 8px;
        &.current,
        &:hover{
            border-color: @do;
            color: #fff;
            background-color: @do;
        }
        &.next,
        &.prev{
            display: none;
        }

    }
}
@import "woo_sidebar.less";
@import "woo_login.less";
/* /woo-pagination */

.woocommerce a.button.alt,
.woocommerce input.button.alt{
    background-color: @do;
}
.woocommerce input.button{
    background-color: @do;
    border: 1px solid @do;
    color: #fff;
}

.woocommerce-cart table.cart td.actions .coupon .input-text{
    min-width: 100px;
    border: 1px solid @do;
    padding: 5px;
    background-color: #eee;
    min-height: 32px;
}
.cart_totals{
    h2{
        color: @do;
        margin-bottom: 10px;
    }
}
input#coupon_code,
.woocommerce form .form-row input.input-text{
    padding: 5px;
    max-width: 280px;
    border: 1px solid #bbb;
    background-color: #eee;
    height: 32px;
}

.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last{
    float: none;
    width: 100%;
}

.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message{
    background-color: @do;
    border: none;
    color: #fff;
    a:hover{
        color: yellow;
    }
}

.single-product{
    h1,
    h2{
        font-weight: 400;
        margin-bottom: 10px;
        color: @do;
    }
    h1{
        font-size: 28px;
        clear: both;
        @media @md{
            font-size: 32px;
        }
    }
    .wc-tabs{
        // display: none;
        display: block;
        width: 100%;
        overflow: hidden;
        background-color: @do;
        clear: both;
        margin-bottom: 10px;
        li{
            display: inline-block;
            width: 120px;
            float: left;
            padding: 5px 10px;
            color: #fff;
            border-right: 2px solid #ccc;
        }
        li.active,
        li:hover{
            a{
                color: yellow;
            }
        }
    }
    .thumbnails{
        a.zoom{
            display: block;
            float: left;
            width: 25%;
            padding: 2px 2px 0 0;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .images{
        border: 1px solid #eee;
    }
    .woocommerce-tabs{
        margin: 20px 0;
    }
    .entry-summary{
        .price{
            background-color: #eee;
            margin-top: 1px;
            padding-left: 10px;
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    ins{
        color: @do;
    }
    .single_add_to_cart_button{
        border: 1px solid transparent;
        padding: 5px 12px;
        color: #fff;
        background-color: @do;
        font-size: 120%;
        margin: 20px 0;
    }
    .col-sm-6 small.on-sale{
        font-size: 140%;
        color: #fff;
        display: block;
        position: absolute;
        top: 1px;
        right: 5px;
        background-color: @do;
        padding: 4px 8px;
    }
    .upsells .ht-products-list{
        border-bottom: none;
    }
    .ht-countdown-hook{
        display: block;
        width: auto;
        background-color: #eee;
        line-height: 40px;
        padding: 0 10px;
        .ht_countdown_section{
            margin-right: 10px;
        }
        .value,
        i{
            color: @do;
            font-size: 120%;
        }
        @media @xs-max{
            padding: 0 5px;
            .ht_countdown_section{
                margin-right: 5px;
            }
            i{
                font-size: 100%;
            }
        }
    }
}

#tab-reviews{
    li.comment{
        clear: both;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        padding-bottom: 10px;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
        img{
            float: left;
            margin-right: 10px;
        }
    }
}
#review_form_wrapper{
    h3{
        color: @do;
    }
    textarea,
    input[type=text],
    input[type=email]{
        width: 100%;
        border: 1px solid #ccc;
        padding: 5px;
    }
    input[type=submit]{
        margin-top: 5px;
    }
}

.woocommerce{
    input.qty{
        width: 100px;
        border: 1px solid #ddd;
        padding: 6px;
        background-color: #eee;
        font-weight: 700;
        margin-top: 20px;
        color: @do;
    }
    .term-description{
        margin-bottom: 10px;
    }
}

.cross-sells{
    h2{
        margin-bottom: 12px;
    }
    .ht-products-list li{
        width: 50%;
    }
}

/* My Account */
.woocommerce-account{
    .myaccount_user{
        margin: 0 0 10px 0;
    }
    h2, h3{
        display: block;
        color: @do;
        padding: 10px 0;
    }
    a.edit{
        display: block;
        width: 40px;
        padding: 2px 5px;
        color: #fff;
        background-color: @do;
    }
    .my_account_orders {
        border-collapse: collapse;
    }

    .my_account_orders, th, td {
        border: 1px solid #ccc;
        padding: 5px;
        th{
            font-weight: 700;
        }
        a{
            color: @do;
        }
    }

    address{
        padding: 10px;
        background-color: #eee;
    }
}