.widget_price_filter .price_slider_wrapper .ui-widget-content {
    border-radius: 1em;
    background-color: #602053;
    border: 0;
}
.widget_price_filter .ui-slider-horizontal {
    height: .5em;
}
.widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
    margin-left: .5em;
    margin-right: .5em;
}
.widget_price_filter .price_slider {
    margin: 20px 5px 10px;
}

.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    border-radius: 1em;
    background-color: #a46497;
    top: 0;
    height: 100%;
}

.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    background-color: #A93491;
    border-radius: 1em;
    cursor: ew-resize;
    outline: 0;
    top: -.3em;
    margin-left: -.5em;
}

.shop-special-links{
    background-color: #eee;
    margin-top: -8px;
    a{
        padding: 8px;
        display: block;
        border-bottom: 1px solid #ccc;
    }
}

.ht-widget-item.ht-product-tag .tagcloud{
    a{
        font-size: 100% !important;
    }
}