#customer_login{
    .col-1, .col-2{
        @media @sm{
            width: 49%;
            float: left;
        }
    }
    .col-2{
        @media @sm{
            float: right;
        }
    }
    h2{
        color: @do;
        margin-bottom: 10px;
    }
    form{
        border: 1px solid #bbb;
        padding: 10px;
        min-height: 380px;
    }
    label{
        display: block;
        width: 100%;
        color: @do;
    }
    input[type=text],
    input[type=email],
    input[type=password]{
        border: 1px solid #ccc;
        padding: 5px;
        display: block;
        width: 100%;
        background-color: #ddd;
        margin: 5px 0;
    }
}