/**============================================================
* Theme Name: GT v.2.0
* Version: 1.1.0
* Description: Gói giao diện GT
* Author: Trangdv
* Author URI:
* Theme URI:
* License: GNU General Public License version 3.0
* License URI: http://www.gnu.org/licenses/gpl-3.0.html
* Tags: light, fluid-layout, custom-background, threaded-comments, custom-menu, featured-images, full-width-template, theme-options, translation-ready
*============================================================*/
/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}
a img {
  border: 0;
}
/*--------------------------------------------
Initial Setup
----------------------------------------------*/
a {
  text-decoration: none;
  color: inherit;
}
input:focus,
textarea:focus {
  outline: none;
}
img,
video {
  max-width: 100%;
  vertical-align: top;
}
audio,
canvas,
video {
  display: inline;
  zoom: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*--------------------------------------------
General
----------------------------------------------*/
::-webkit-input-placeholder {
  -webkit-font-smoothing: antialiased;
}
:-moz-placeholder {
  /* Firefox 18- */
  -moz-osx-font-smoothing: grayscale;
}
::-moz-placeholder {
  /* Firefox 19+ */
  -moz-osx-font-smoothing: grayscale;
}
a,
a:visited {
  cursor: hand;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #212121;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #212121;
}
/*--------------------------------------------
Combo CSS
----------------------------------------------*/
.clr {
  *zoom: 1;
}
.clr:before,
.clr:after {
  content: " ";
  display: table;
}
.clr:after {
  clear: both;
}
.icf {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.tran,
a,
.mfp-fade.mfp-bg,
.mfp-fade.mfp-wrap .mfp-content {
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*--------------------------------------------
Popup Effects
----------------------------------------------*/
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
strong {
  font-weight: 700;
}
h1,
h2,
h3 {
  font-weight: 700;
}
h1 {
  font-size: 160%;
}
h2 {
  font-size: 140%;
}
h3 {
  font-size: 120%;
}
#primary {
  margin-top: 10px;
}
article ul,
article ol {
  list-style: inside;
  margin-bottom: 20px;
}
article ol {
  list-style-type: decimal;
}
article blockquote {
  position: relative;
  z-index: 1;
  padding: 0 40px;
  border-left: 3px solid #eee;
}
article p {
  margin-top: 15px;
}
a:hover {
  color: #d93030;
}
@media screen and (max-width: 767px) {
  #primary.pull-right {
    float: none !important;
  }
}
.ht-btn,
input[type=submit] {
  border: none;
  padding: 0 15px;
  line-height: 34px;
  background: #ccc;
  text-transform: capitalize;
  display: inline-block;
}
.ht-flexslider {
  position: relative;
}
.ht-flexslider .flex-control-nav {
  list-style: none;
}
.ht-flexslider#site-slider .flex-control-nav {
  text-align: right;
  bottom: 10px;
  right: 10px;
}
.ht-flexslider#site-slider .flex-control-nav a {
  font-size: 0;
  background-color: #000;
  opacity: 0.8;
}
.ht-flexslider#site-slider .flex-control-nav a.flex-active {
  background-color: #d93030;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
#site-header .top-area {
  background-color: #d93030;
  padding: 5px 0;
  color: #fff;
}
#site-header .top-area a:hover {
  color: yellow;
}
#site-logo {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #site-logo {
    text-align: left;
  }
}
.top-group {
  padding: 8px 0;
}
.top-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #bbb;
}
.top-group .row > div {
  margin-top: 5px;
}
@media only screen and (min-width: 768px) {
  .top-group .row > div {
    margin-top: 0;
    border-right: 1px solid #bbb;
  }
  .top-group .row > div:last-child {
    border-right: none;
  }
}
.top-group .cart-indicator {
  font-size: 120%;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .top-group .cart-indicator {
    text-align: right;
  }
}
.top-group .cart-indicator a {
  margin-right: auto;
  position: relative;
  display: block;
  height: 45px;
  width: 100%;
  border: 1px solid #d93030;
  color: #fff !important;
  font-weight: 700;
  background-color: #d93030;
}
@media only screen and (min-width: 768px) {
  .top-group .cart-indicator a {
    margin: 5px auto 0;
  }
}
@media only screen and (min-width: 768px) {
  .top-group .cart-indicator a {
    max-width: 162px;
  }
}
.top-group .cart-indicator i {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 45px;
  height: 100%;
  vertical-align: middle;
  font-size: 28px;
  padding-top: 8px;
  color: #ffffff;
  background-color: #d93030;
  padding-right: 10px;
  border-right: 1px dotted #fff;
}
#site-breadcrumb {
  padding: 5px 0;
  background-color: #eee;
}
#site-breadcrumb a {
  color: #d93030;
}
@media only screen and (min-width: 768px) {
  .user-links {
    text-align: right;
  }
}
.user-links a {
  border-left: 1px solid #aaa;
  padding-left: 5px;
}
@media only screen and (min-width: 992px) {
  #site-navigation {
    background-color: #d93030;
  }
}
#site-navigation #cssmenu {
  background-color: #111;
}
@media only screen and (min-width: 992px) {
  #site-navigation #cssmenu {
    background-color: transparent;
  }
}
#site-navigation ul.menu.primary > li:hover > a,
#site-navigation ul.menu.primary .current_page_parent > a,
#site-navigation ul.menu.primary .current-menu-parent > a {
  color: yellow;
}
#site-navigation .sub-menu {
  background-color: #d93030;
  opacity: 0.98;
}
ul.product_cates {
  position: relative;
}
ul.product_cates img {
  position: absolute;
  top: 0;
  right: -200%;
}
ul.product_cates li {
  width: 100%;
  line-height: 40px;
  vertical-align: middle;
  padding: 0 10px;
  z-index: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  color: #fff;
  border-bottom: 1px solid #444;
}
@media only screen and (min-width: 992px) {
  ul.product_cates li {
    font-size: 110%;
  }
}
ul.product_cates li a:hover {
  color: yellow;
}
ul.product_cates li:hover {
  background-color: #d93030;
}
ul.product_cates li:hover img {
  z-index: 1;
}
ul.product_cates li:hover .fa-hand-o-right {
  right: -5px;
  opacity: 1;
}
ul.product_cates .fa-hand-o-right {
  float: right;
  top: 13px;
  right: 5px;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
#home-banner-group .col-left {
  background-color: #333;
}
.red-divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 1px 0;
}
/* WIDGET */
#secondary aside {
  margin: 10px 0 20px;
}
@media only screen and (min-width: 768px) {
  #secondary aside {
    margin: 10px 0 30px;
  }
}
#secondary .widget_product_categories ul,
#secondary .widget_layered_nav ul {
  margin-top: -8px;
}
#secondary .widget_product_categories li,
#secondary .widget_layered_nav li {
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#secondary .widget_product_categories li span.count,
#secondary .widget_layered_nav li span.count {
  float: right;
}
#secondary .widget_product_categories li:hover,
#secondary .widget_layered_nav li:hover,
#secondary .widget_product_categories li.current-cat,
#secondary .widget_layered_nav li.current-cat {
  background-color: #ddd;
  color: #d93030;
}
#secondary button,
#secondary input[type=submit] {
  border: 2px solid transparent;
  padding: 3px 10px;
  background-color: #d93030;
  text-transform: uppercase;
  min-width: 100%;
  color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#secondary button:hover,
#secondary input[type=submit]:hover {
  color: #d93030;
  background-color: transparent;
  border-color: #d93030;
}
#secondary .price_label {
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}
.widget-title {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 2px dotted #d93030;
}
/* /WIDGET */
/* WOO */
/* Breadcrumb */
.woocommerce-breadcrumb {
  padding: 3px;
  background-color: #eee;
}
/* /Breadcrumb */
.before_loop_group {
  background-color: #eee;
  vertical-align: middle;
  line-height: 35px;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .before_loop_group select {
    width: 100%;
  }
}
.before_loop_group select {
  padding: 5px;
  border: none;
  background-color: #ddd;
}
/* List of products */
.ht-products-list {
  *zoom: 1;
  padding: 20px 0;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
.ht-products-list:before,
.ht-products-list:after {
  content: " ";
  display: table;
}
.ht-products-list:after {
  clear: both;
}
li.product-loop-entry {
  display: block;
  border: 2px solid #d93030;
  padding: 10px;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 50%;
  max-width: 283px;
  margin: 0 0 10px;
}
li.product-loop-entry:hover {
  border-color: #d93030 !important;
}
li.product-loop-entry:hover .add_to_cart_button {
  opacity: 1;
}
li.product-loop-entry.last {
  border-left: none;
}
@media only screen and (min-width: 30em) {
  li.product-loop-entry {
    margin: 0 auto;
    max-width: auto;
    margin: 0px 0 10px;
    width: 50%;
  }
  li.product-loop-entry.last {
    border-left: none;
  }
}
@media only screen and (min-width: 992px) {
  li.product-loop-entry {
    border-color: transparent;
    width: 25%;
  }
  li.product-loop-entry.first {
    border-right: 2px solid transparent;
  }
  li.product-loop-entry.last {
    border-left: 2px solid transparent;
  }
}
li.product-loop-entry small.on-sale {
  background-color: #d93030;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 6px;
}
li.product-loop-entry .product-loop-title {
  font-weight: 700;
  font-size: 110%;
  margin-bottom: 8px;
}
li.product-loop-entry .add_to_cart_button {
  z-index: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
  border: 2px solid #d93030;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 10px;
  color: #d93030;
  background-color: transparent;
  display: block;
}
@media only screen and (min-width: 768px) {
  li.product-loop-entry .add_to_cart_button {
    position: absolute;
    right: 10px;
    bottom: 5px;
  }
}
@media only screen and (min-width: 992px) {
  li.product-loop-entry .add_to_cart_button {
    background-color: #d93030;
    color: #fff;
    opacity: 0;
  }
}
li.product-loop-entry .add_to_cart_button:hover {
  background-color: transparent;
  color: #d93030;
}
li.product-loop-entry .add_to_cart_button i {
  display: none;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
li.product-loop-entry .add_to_cart_button.loading i.loading {
  display: inline;
}
li.product-loop-entry .add_to_cart_button.added {
  text-decoration: none;
  opacity: 1;
  font-size: 0;
  padding: 2px 6px;
}
li.product-loop-entry .add_to_cart_button.added i.added {
  display: inline;
  font-size: 16px;
}
li.product-loop-entry .add_to_cart_button.added i.loading {
  display: none;
}
li.product-loop-entry .price {
  color: #d93030;
}
li.product-loop-entry .ht-countdown-hook {
  margin-top: 8px;
  background-color: #d93030;
  color: #fff;
  line-height: 20px;
  font-size: 80%;
  padding: 0 5px;
  border-right: 1px solid #fff;
}
@media only screen and (min-width: 768px) {
  li.product-loop-entry .ht-countdown-hook {
    margin-top: 0;
    position: absolute;
    right: 37px;
    top: 0;
  }
}
p img,
img.attachment-shop_catalog,
img.attachment-shop_single {
  max-width: 100%;
  height: auto;
}
/* /list of products */
/* Pagination */
.woocommerce-pagination {
  margin-top: 30px;
  overflow: hidden;
  text-align: right;
}
.woocommerce-pagination ul.page-numbers {
  text-align: right;
  display: block;
  width: 100%;
}
.woocommerce-pagination li {
  display: inline-block;
  width: auto;
  overflow: hidden;
}
.woocommerce-pagination ul .page-numbers {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 5px 13px;
  font-size: 110%;
  margin-left: 8px;
}
.woocommerce-pagination ul .page-numbers.current,
.woocommerce-pagination ul .page-numbers:hover {
  border-color: #d93030;
  color: #fff;
  background-color: #d93030;
}
.woocommerce-pagination ul .page-numbers.next,
.woocommerce-pagination ul .page-numbers.prev {
  display: none;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-radius: 1em;
  background-color: #602053;
  border: 0;
}
.widget_price_filter .ui-slider-horizontal {
  height: .5em;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
  margin-left: .5em;
  margin-right: .5em;
}
.widget_price_filter .price_slider {
  margin: 20px 5px 10px;
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  border-radius: 1em;
  background-color: #a46497;
  top: 0;
  height: 100%;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  background-color: #A93491;
  border-radius: 1em;
  cursor: ew-resize;
  outline: 0;
  top: -0.3em;
  margin-left: -0.5em;
}
.shop-special-links {
  background-color: #eee;
  margin-top: -8px;
}
.shop-special-links a {
  padding: 8px;
  display: block;
  border-bottom: 1px solid #ccc;
}
.ht-widget-item.ht-product-tag .tagcloud a {
  font-size: 100% !important;
}
@media only screen and (min-width: 768px) {
  #customer_login .col-1,
  #customer_login .col-2 {
    width: 49%;
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  #customer_login .col-2 {
    float: right;
  }
}
#customer_login h2 {
  color: #d93030;
  margin-bottom: 10px;
}
#customer_login form {
  border: 1px solid #bbb;
  padding: 10px;
  min-height: 380px;
}
#customer_login label {
  display: block;
  width: 100%;
  color: #d93030;
}
#customer_login input[type=text],
#customer_login input[type=email],
#customer_login input[type=password] {
  border: 1px solid #ccc;
  padding: 5px;
  display: block;
  width: 100%;
  background-color: #ddd;
  margin: 5px 0;
}
/* /woo-pagination */
.woocommerce a.button.alt,
.woocommerce input.button.alt {
  background-color: #d93030;
}
.woocommerce input.button {
  background-color: #d93030;
  border: 1px solid #d93030;
  color: #fff;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
  min-width: 100px;
  border: 1px solid #d93030;
  padding: 5px;
  background-color: #eee;
  min-height: 32px;
}
.cart_totals h2 {
  color: #d93030;
  margin-bottom: 10px;
}
input#coupon_code,
.woocommerce form .form-row input.input-text {
  padding: 5px;
  max-width: 280px;
  border: 1px solid #bbb;
  background-color: #eee;
  height: 32px;
}
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  float: none;
  width: 100%;
}
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
  background-color: #d93030;
  border: none;
  color: #fff;
}
.woocommerce .woocommerce-info a:hover,
.woocommerce .woocommerce-message a:hover {
  color: yellow;
}
.single-product h1,
.single-product h2 {
  font-weight: 400;
  margin-bottom: 10px;
  color: #d93030;
}
.single-product h1 {
  font-size: 28px;
  clear: both;
}
@media only screen and (min-width: 992px) {
  .single-product h1 {
    font-size: 32px;
  }
}
.single-product .wc-tabs {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #d93030;
  clear: both;
  margin-bottom: 10px;
}
.single-product .wc-tabs li {
  display: inline-block;
  width: 120px;
  float: left;
  padding: 5px 10px;
  color: #fff;
  border-right: 2px solid #ccc;
}
.single-product .wc-tabs li.active a,
.single-product .wc-tabs li:hover a {
  color: yellow;
}
.single-product .thumbnails a.zoom {
  display: block;
  float: left;
  width: 25%;
  padding: 2px 2px 0 0;
}
.single-product .thumbnails img {
  width: 100%;
  height: auto;
}
.single-product .images {
  border: 1px solid #eee;
}
.single-product .woocommerce-tabs {
  margin: 20px 0;
}
.single-product .entry-summary .price {
  background-color: #eee;
  margin-top: 1px;
  padding-left: 10px;
  font-size: 24px;
  margin-bottom: 20px;
}
.single-product ins {
  color: #d93030;
}
.single-product .single_add_to_cart_button {
  border: 1px solid transparent;
  padding: 5px 12px;
  color: #fff;
  background-color: #d93030;
  font-size: 120%;
  margin: 20px 0;
}
.single-product .col-sm-6 small.on-sale {
  font-size: 140%;
  color: #fff;
  display: block;
  position: absolute;
  top: 1px;
  right: 5px;
  background-color: #d93030;
  padding: 4px 8px;
}
.single-product .upsells .ht-products-list {
  border-bottom: none;
}
.single-product .ht-countdown-hook {
  display: block;
  width: auto;
  background-color: #eee;
  line-height: 40px;
  padding: 0 10px;
}
.single-product .ht-countdown-hook .ht_countdown_section {
  margin-right: 10px;
}
.single-product .ht-countdown-hook .value,
.single-product .ht-countdown-hook i {
  color: #d93030;
  font-size: 120%;
}
@media only screen and (max-width: 479px) {
  .single-product .ht-countdown-hook {
    padding: 0 5px;
  }
  .single-product .ht-countdown-hook .ht_countdown_section {
    margin-right: 5px;
  }
  .single-product .ht-countdown-hook i {
    font-size: 100%;
  }
}
#tab-reviews li.comment {
  clear: both;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
#tab-reviews li.comment img {
  float: left;
  margin-right: 10px;
}
#review_form_wrapper h3 {
  color: #d93030;
}
#review_form_wrapper textarea,
#review_form_wrapper input[type=text],
#review_form_wrapper input[type=email] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
}
#review_form_wrapper input[type=submit] {
  margin-top: 5px;
}
.woocommerce input.qty {
  width: 100px;
  border: 1px solid #ddd;
  padding: 6px;
  background-color: #eee;
  font-weight: 700;
  margin-top: 20px;
  color: #d93030;
}
.woocommerce .term-description {
  margin-bottom: 10px;
}
.cross-sells h2 {
  margin-bottom: 12px;
}
.cross-sells .ht-products-list li {
  width: 50%;
}
/* My Account */
.woocommerce-account .myaccount_user {
  margin: 0 0 10px 0;
}
.woocommerce-account h2,
.woocommerce-account h3 {
  display: block;
  color: #d93030;
  padding: 10px 0;
}
.woocommerce-account a.edit {
  display: block;
  width: 40px;
  padding: 2px 5px;
  color: #fff;
  background-color: #d93030;
}
.woocommerce-account .my_account_orders {
  border-collapse: collapse;
}
.woocommerce-account .my_account_orders,
.woocommerce-account th,
.woocommerce-account td {
  border: 1px solid #ccc;
  padding: 5px;
}
.woocommerce-account .my_account_orders th,
.woocommerce-account th th,
.woocommerce-account td th {
  font-weight: 700;
}
.woocommerce-account .my_account_orders a,
.woocommerce-account th a,
.woocommerce-account td a {
  color: #d93030;
}
.woocommerce-account address {
  padding: 10px;
  background-color: #eee;
}
/* FOOTER */
.ht-prefooter {
  padding-top: 20px;
  background-color: #eee;
  margin-top: 30px;
}
.ht-prefooter h3 {
  font-size: 140%;
}
.ht-widget-item {
  width: 25%;
  padding: 10px;
  float: left;
}
.ht-widget-item p {
  margin-bottom: 10px;
}
.ht-widget-item::first-child,
.ht-widget-item::last-child {
  padding: none;
}
@media (max-width: 767px) {
  .ht-widget-item {
    width: 100%;
  }
}
.ht-widget-item h3 {
  border-bottom: 1px dashed #AEAEAE;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.ht-widget-item .ht-btn {
  background-color: #C4C4C4;
  color: #6b6b6b;
}
.ht-widget-item form {
  position: relative;
  margin-bottom: 10px;
}
.ht-widget-item form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
.ht-meta-contact i {
  display: inline-block;
  float: left;
  line-height: 25px;
  margin-right: 10px;
}
.ht-meta-contact p {
  display: inline-block;
  float: left;
}
.ht-meta-contact .widget-content {
  display: block;
  width: 100%;
  overflow: hidden;
}
.ht-product-tag a {
  border: 1px solid #C4C4C4;
  border-top: 1.4px solid #C4C4C4;
  padding: 5px;
  margin-right: 2px;
  margin-bottom: 5px;
  display: inline-block;
}
.ht-product-tag a:hover {
  background-color: #d93030;
  color: yellow;
}
.ht-subscribe a.fa {
  margin: 0 10px;
}
.ht-quick-links a {
  display: block;
  margin-bottom: 5px;
  padding-left: 5px;
  border-bottom: 1px solid #ddd;
}
.site-social h4 {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dotted #ddd;
}
.site-social a {
  margin: 0 20px 0 0 !important;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  line-height: 32px;
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: #d93030;
}
#site-footer .copyright {
  line-height: 50px;
  background-color: #d93030;
  color: #fff;
  vertical-align: middle;
}
/* /FOOTER */
section.ht-section.products-list .list-title {
  font-size: 111%;
  color: #d93030;
}
section.ht-section.products-list a.list-link {
  background-color: #d93030;
  padding: 3px 6px;
  color: #fff;
}
section.ht-section.products-list ul.ht-products-list {
  border-bottom: none;
}
/* Other */
#YLC_chat_header,
#YLC_chat_btn {
  background-color: #d93030 !important;
}
